
[mysqld]
user=_mysql
port=3306
datadir=/var/mysql/data
basedir=/opt/mysql
lc-messages-dir=/opt/mysql/share
pid-file=/var/run/mysql/mysql.pid
socket=/var/run/mysql/mysql.sock
log-error=/var/log/mysql/error.log

general_log=1
general_log_file=/var/log/mysql/query.log
slow_query_log=1
slow_query_log_file=/var/log/mysql/slow.log
min_examined_row_limit=0
long_query_time=0

log_bin=/var/log/mysql/mysql-bin.log

server_id=20
expire_logs_days=10
max_binlog_size=10M
binlog-format=row
gtid_mode=ON
log-slave_updates=true
enforce_gtid_consistency

[client]
socket=/var/run/mysql/mysql.sock

